version: "3.8"

services:
  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=dev-db-root-pass
    volumes:
      - ./local_docker_development/.my.cnf:/root/.my.cnf
      - ./local_docker_development/my.cnf:/etc/mysql/conf.d/dev.cnf
    ports:
      - 3306:3306

  # adminer:
  #   image: adminer
  #   ports:
  #     - 8080:8080
  #   environment:
  #     - ADMINER_DEFAULT_SERVER=mysql
  #

  smtp:
    # A testing/demo SMTP server that just keeps all messages, and displays them on a
    # web interface on port 1080
    # https://mailcatcher.me/
    image: dockage/mailcatcher:0.8.2
    ports:
      - 1080:1080

  php:
    build: .
    stdin_open: true
    tty: true
    ports:
      - "80:80"
    environment:
      - DB_HOST=mysql
      - DB_DATABASE=wikirumours
      - DB_USERNAME=root
      - DB_PASSWORD=dev-db-root-pass
      - DB_ENV_TYPE=dev
      - DB_TAB_PREFIX=wr_

      - SMTP_HOST=smtp
      - SMTP_PORT=1025
      - SMTP_USERNAME=smtp-test-user
      - SMTP_PASSWORD=smtp-test-password
      - SMTP_SENDER_EMAIL=smtp-test@localhost

      - ENC_PASSWORD=test
      - ENC_PUBKEY=test
    volumes:
      - ./source/:/srv/
      - ./local_docker_development/htpasswd:/home/site/web_root/.htpasswd
      - ./local_docker_development/uploads:/srv/web_root/uploads
