$ cat .gitignore

web_root/assets/cms_files/*
web_root/assets/photo_evidence/*
web_root/assets/profile_images/*
web_root/assets/pseudonym_logos/*
web_root/assets/rumour_attachments/*

downloads/*

uploads/cms_files/*
uploads/photo_evidence/*
uploads/profile_images/*
uploads/pseudonym_logos/*
uploads/rumour_attachments/*
